html, body {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: rgba(50,50,50,1);
}
.nav {
    will-change: transform;
    overflow: hidden;
    transition: .4s ease;
    height: 100vh;
    width: 100px;
    user-select: none;
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(50,50,50,1);
    border-right: 1px solid white;
}
.navAct {
    will-change: transform;
    overflow: hidden;
    transition: .4s ease;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    user-select: none;
    background: rgba(50,50,50,1);
    border-right: 0px solid white;
}
.navA {
    will-change: transform, position, opacity;
    user-select: none;
    z-index: 20;
    transition: .4s ease;
    transform: rotate(0deg) scale(1);
    height: 50px;
    width: 50px;
    position: fixed;
    top: 25px;
    left: 125px;
    background: url("Assets/triangleA.png");
    background-size: 100%;
}
.aAct {
    will-change: transform, position, opacity, filter;
    user-select: all;
    z-index: 20;
    transition: .4s ease;
    transform: rotate(-90deg) scale(1);
    height: 100px;
    width: 100px;
    opacity: 70%;
    position: fixed;
    top: 25px;
    left: 25px;
    background: url("Assets/triangleA.png");
    background-size: 100%;
    user-select: none;
}
.aAct:hover {
    will-change: transform, filter;
    opacity: 100%;
    user-select: none;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
}
.navG {
    will-change: transform, position;
    z-index: 20;
    transition: .4s ease;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: url("Assets/CircleG.png");
    background-size: 100%;
    opacity: 100%;
}
.gAct {
    will-change: transform, position;
    z-index: 20;
    transition: .4s ease;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 25px;
    right: -100px;
    background: url("Assets/CircleG.png");
    background-size: 100%;
    opacity: 0%;
}
.pageActText {
    will-change: transform;
    text-shadow: 0px 0px 0px rgba(255,255,255,0.5);
    font-family: "Oswald", sans-serif;
    user-select: none;
    opacity: 100%;
    transition:  .4s ease;
    color: white;
    background: rgba(50,50,50,1);
    font-size: 40px;
    z-index: 15;
    width: 200px;
    height: 75px;
    text-align: center;
    position: fixed;
    line-height: 75px;
    top: 50vh;
    left: 0px;
    margin-top: -35px;
}
.pageActText:hover {
    will-change: transform;
    text-shadow: 0px 0px 10px rgba(255,255,255,0.5);
    transform: scale(1);
    transition:  .4s ease;
}
.pageAct {
    will-change: transform;
    font-family: "Oswald", sans-serif;
    user-select: none;
    height: 70px;
    opacity: 100%;
    transition:  .4s ease;
    text-shadow: 0px 0px 10px rgba(50,50,50,1);
    color: transparent;
    background: rgba(50,50,50,1);
    font-size: 40px;
    z-index: 15;
    width: 200px;
    text-align: center;
    position: fixed;
    line-height: 75px;
    top: 50vh;
    left: 100vw;
    margin-top: -35px;
}
.mainBody {
    will-change: transform;
    transform: scale(1);
    z-index: 20;
    opacity: 100%;
    height: calc(100vh - 200px);
    width: calc(100vw - 300px);
    margin-top: 100px;
    background: rgb(123,71,246);
    background: linear-gradient(319deg, rgba(123,71,246,1) 5%, rgba(45,222,255,1) 95%);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,.5);
    position: relative;
    left: 200px;
    overflow: hidden;
    user-select: none;
    transition:  .4s ease;
}
.mainBody:hover {
    will-change: transform;
    transform: scale(1.01);
    box-shadow: 0px 0px 30px rgba(0,0,0,.75);
    user-select: none;
}
.bodyAct {
    will-change: transform;
    overflow: hidden;
    z-index: 20;
    opacity: 0%;
    height: calc(100vh - 200px);
    width: calc(100vw - 300px);
    margin-top: 100px;
    background: rgb(123,71,246);
    background: linear-gradient(319deg, rgba(123,71,246,1) 5%, rgba(45,222,255,1) 95%);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
    position: relative;
    transition:  .4s ease;
    left: calc(100vw + 200px);
    user-select: none;
}
.bodHeader {
    will-change: transform;
    font-family: "Oswald", sans-serif;
    color: white;
    text-align: center;
    font-size: 7.52vw;
    font-weight: 800;
    text-shadow: 0px 0px 10px rgba(255,255,255,0.2);
    position: relative;
    top: 0px;
    user-select: none;
}
.bodSplash {
    will-change: transform;
    height: 90%;
    width: 100%;
    background: url("Assets/IMG_0173.PNG");
    background-position: top;
    background-size: cover;
    position: absolute;
    filter: drop-shadow(0px 0px 10px rgba(255,255,255,.5));
    bottom: 0px;
    left: -70px;
    user-select: none;
}
.bodSplash {
    will-change: transform;
    transform: scale(1);
    height: 90%;
    width: 100%;
    background: url("Assets/IMG_0173.PNG");
    background-position: top;
    background-size: cover;
    position: absolute;
    filter: drop-shadow(0px 0px 10px rgba(255,255,255,.5));
    user-select: none;
}
.navMenuItems {
    will-change: transform;
    transform: scale(.5) rotateX(0deg);
    opacity: 0%;
    transition:  .4s ease;
    height: 100vh;
    width: 100vw;
    background: transparent;
    position: fixed;
    top: 0px;
    left: -60vw;
    user-select: none;
}
a {
    text-decoration: none;
}
.navMenAct {
    will-change: transform;
    transform: scale(1) rotateX(0deg);
    opacity: 100%;
    transition:  .4s ease;
    height: 100vh;
    width: 100vw;
    background: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    user-select: none;
}
.item {
    will-change: transform;
    height: 33vh;
    line-height: 33vh;
    width: 100vw;
    display: block;
    transition:  .4s ease;
    text-align: center;
    color: white;
    opacity: 70%;
    font-family: "Oswald", sans-serif;
    font-size: 10vw;
    text-shadow: 0px 0px 10px rgba(255,255,255,0);
    user-select: none;
}
.item:hover {
    will-change: transform;
    height: 33vh;
    line-height: 33vh;
    transition:  .4s ease .1s;
    text-align: center;
    color: white;
    opacity: 100%;
    font-family: "Oswald", sans-serif;
    font-size: 10.7vw;
    text-shadow: 0px 0px 20px rgba(255,255,255,0.6);
    user-select: none;
}
